.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.summary-card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 3px 15px rgba(0,0,0,.05);
}

.table-card,
.form-card{
    background:white;
    border:none;
    border-radius:20px;
    box-shadow:0 3px 15px rgba(0,0,0,.05);
}

.table-card{
    padding:20px;
}

.form-card{
    max-width:700px;
    margin:auto;
}

.form-control{
    border-radius:12px;
}